<div class="center">
    <h1>Your friends</h1>
        <% if @friendships.any? %>
            <table class="test_friend">
                <tr class="friend_row">
                    <th colspan="2">User</th>
                    <th>Option</th>
                </tr>
    
                <% @friendships.each do |friendship| %>
                    <% if friendship.confirmed? %>
                    <tr class="friend_row">
                        
                        <div class="friend_details">
                        <% unless friend(friendship).image_url.nil? %>
                        <td><%= image_tag friend(friendship).image_url(:thumb).to_s %></td>
                        <% else %>
                        <td><%= image_tag("friendlist_default_avatar.jpg", alt: "Avatar") %></td>
                        <% end %>
                        <td class="friend_name">
                            <%= link_to friend(friendship).full_name, user_path(friend(friendship).id) %>
                            <br />                            
                            <%= render partial: 'friendship_partials/birthday',
                                 locals: { :friendship => friendship } %>
                        </td>
                        </div>
                        <span class="friend_option">
                        <td><%= link_to 'Remove', remove_friend_path(friend(friendship)),
                             class: "icon-remove"%></td>
                        </span>
                    </tr>
                    <% end %>
                <% end %>
            </table>    
        <% else %>
            <p>
                You have currently no friends.
            </p>
        <% end %>
</div>

